.button {
  padding: 19px 50px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.green {
  background-color: #A8B64F;
}

.gray {
  color: #C4C4C4;
  background-color: transparent;
  border: 2px solid #C4C4C4;
}

.red {
  background-color: #DC3E22;
}

.border-red {
  color: #DC3E22;
  background-color: transparent;
  border: 2px solid #DC3E22;
}

.mb10 {
  margin-bottom: 10px;
}
