@import "../../../index.scss";

.dropItem {
  display: flex;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &__img {
    margin-right: 10px;
  }
}

.dropDown {
  position: absolute;
  padding: 15px 20px;
  border: 1px solid $medium-gray;
  z-index: 5;
  background-color: #F5F5F5;
}
