@import "../../index.scss";

.dayData {
  padding: 25px;
  width: 100%;
  height: 260px;
  background-color: $medium-gray;

  &__currentDay {
    margin-bottom: 15px;
  }

  &__spentTime {
    padding-left: 3px;
    color: $tomato;
  }
}

