@import "../../index.scss";

.header, {
  margin-bottom: 100px;
  padding: 15px 80px;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;

  &__link {
    display: flex;
    align-items: center;
    color: $tomato;

  }
  &__logo {
    margin-right: 12px;
    width: 40px;
    height: 40px;
  }
}
