* {
  box-sizing: border-box;
}

body {
  color: #333333;
  font-family: 'SF UI Display', sans-serif;
  background-color: #F4F4F4;
}

button {
  cursor: pointer;
}

// COLORS

$tomato: #DC3E22;
$coral: #EA8A79;
$dark-gray: #C4C4C4;
$gray: #ADACAC;
$medium-gray: #E5E5E5;
$light-gray: #F4F4F4;
$white: #FFFFFF;
$green: rgba(168, 182, 79, 1);
$modal-mat: rgba(0, 0, 0, 0.5);

$beige: #FFDDA9;
$violet: #DFDCFE;
$blue: #C5F1FF;

