* {
  box-sizing: border-box;
  color: #333333;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body, ul, p {
  margin: 0;
  padding: 0;
  font-family: 'SF UI Display', sans-serif;
  background-color: #F5F5F5;
}

button {
  cursor: pointer;
}

// COLORS

$tomato: #DC3E22;
$dark-gray: #C4C4C4;
$medium-gray: #E5E5E5;

